{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4"> All Pets</h2>
    <div class="row">
        {% for pet in pets %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                
                {% if pet.pet_image %}
                    <img src="{{ pet.pet_image.url }}" class="card-img-top" alt="{{ pet.name }}">
                {% else %}
                    <img src="/static/images/default.png" class="card-img-top" alt="No image">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ pet.name }}</h5>
                    <p class="card-text">{{ pet.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
